name: Update SixDeadBeefs Dockerhub Repo
on:
  push:
    paths:
      - 'docker/*'
jobs:
  Build-Docker-Image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd $GITHUB_WORKSPACE/docker
      - run: docker build -t sixdeadbeefs/ctf:latest docker/
      - run: docker push sixdeadbeeds/ctf:latest      

