name: Update SixDeadBeefs Dockerhub Repo
on:
  push:
    paths:
      - 'docker/*'
jobs:
  Build-Docker-Image:
    runs-on: ubuntu-latest
    steps:
      - run: cd /github/workspace/docker
      - run: docker build -t sixdeadbeefs/CTF:latest .
      - run: docker push sixdeadbeeds/CTF:latest      

