name: Update SixDeadBeefs Dockerhub Repo
on:
  push:
    paths:
      - 'docker/*'
jobs:
  Build-Docker-Image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t sixdeadbeefs/kali-ctf-default:latest docker/
      - run: docker push sixdeadbeeds/kali-ctf-default:latest      

